<?xml version="1.0"?>
<launch>
  <!-- Start the sensor info publisher node.-->
  <node name="sensor_info_publisher" pkg="hrwros_week1" exec="sensor_info_publisher"
    output="screen"/>

  <!-- Start the BoxHeightInformation publisher node (Assignment 1 Part 3)-->
  <node name="assignment1" pkg="hrwros_week1_assignment" exec="week1_assignment1_part3"
    output="screen"/>

  <!-- Start the metres_to_feet service server ROS node.-->
  <node name="metres_to_feet" pkg="hrwros_week1" exec="metres_to_feet_server"
    output="screen"/>

  <!-- BoxHeightInformation subscriber / convert to Feet node (Assignment 2)-->
  <node name="assignment2" pkg="hrwros_week1_assignment" exec="week1_assignment2"
    output="screen"/>
</launch>
