<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- import main macro -->
  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:macro name="simple_ur_robot" params="ur_type name:='ur' prefix:='' parent:='' *origin safety_limits:=false ">
    <xacro:property name="joint_limit_params" default="$(find ur_description)/config/${ur_type}/joint_limits.yaml"/>
    <xacro:property name="kinematics_params" default="$(find ur_description)/config/${ur_type}/default_kinematics.yaml"/>
    <xacro:property name="physical_params" default="$(find ur_description)/config/${ur_type}/physical_parameters.yaml"/>
    <xacro:property name="visual_params" default="$(find ur_description)/config/${ur_type}/visual_parameters.yaml"/>
    <xacro:property name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>
    <xacro:ur_robot
     name="${name}"
     prefix="${prefix}"
     parent="${parent}"
     joint_limits_parameters_file="${joint_limit_params}"
     kinematics_parameters_file="${kinematics_params}"
     physical_parameters_file="${physical_params}"
     visual_parameters_file="${visual_params}"
     transmission_hw_interface=""
     safety_limits="${str(safety_limits)}"
     initial_positions="${xacro.load_yaml(initial_positions_file)}"
     script_filename=""
     output_recipe_filename=""
     input_recipe_filename="">
      <xacro:insert_block name="origin" />
    </xacro:ur_robot>
  </xacro:macro>
</robot>
