<?xml version="1.0"?>
<launch>
  <include file="$(find hrwros_week2_assignment)/launch/replacement_robot/load_week2_robot.launch" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" exec="joint_state_publisher">
    <param name="use_gui" value="true" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" exec="robot_state_publisher" />
  <node name="rviz2" pkg="rviz2" exec="rviz2" args="-d $(find hrwros_week2_assignment)/config/view_robot.rviz" required="true" />
</launch>
